# Secrets
.env

# Data raw files
data/

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/

# dbt artifacts
.dbt/
dbt/target/
dbt/logs/

# Logs
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
